{% extends 'style.html'%}
{% block profile %}

<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Public+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>test</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="style/js/tailwindcss.js"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: "Public Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex p-4 @container">
              <div class="flex w-full flex-col gap-4 @[520px]:flex-row @[520px]:justify-between @[520px]:items-center">
                <div class="flex gap-4">
                  <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
                    style='background-image: url("static/image/image1.png");'
                  ></div>
                  <div class="flex flex-col justify-center">
                    <p class="text-[#111518] text-[22px] font-bold leading-tight tracking-[-0.015em]">Isabella Rodriguez</p>
                    <p class="text-[#637788] text-base font-normal leading-normal">Product Designer in Brighton, UK, She/Her</p>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="text-[#111518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">User Information</h2>
            <div class="p-4">
              <div class="flex justify-between gap-x-6 py-2">
                <p class="text-[#637788] text-sm font-normal leading-normal">Full Name</p>
                <p class="text-[#111518] text-sm font-normal leading-normal text-right">Isabella Rodriguez</p>
              </div>
              <div class="flex justify-between gap-x-6 py-2">
                <p class="text-[#637788] text-sm font-normal leading-normal">Profile Picture</p>
                <p class="text-[#111518] text-sm font-normal leading-normal text-right">Female, age 30, profile photo</p>
              </div>
              <div class="flex justify-between gap-x-6 py-2">
                <p class="text-[#637788] text-sm font-normal leading-normal">Age</p>
                <p class="text-[#111518] text-sm font-normal leading-normal text-right">30</p>
              </div>
              <div class="flex justify-between gap-x-6 py-2">
                <p class="text-[#637788] text-sm font-normal leading-normal">Contact Information</p>
                <p class="text-[#111518] text-sm font-normal leading-normal text-right">isabella.rodriguez@gmail.com</p>
              </div>
              <div class="flex justify-between gap-x-6 py-2">
                <p class="text-[#637788] text-sm font-normal leading-normal">Role</p>
                <p class="text-[#111518] text-sm font-normal leading-normal text-right">Product Designer</p>
              </div>
              <div class="flex justify-between gap-x-6 py-2">
                <p class="text-[#637788] text-sm font-normal leading-normal">Hospital/Institution Name</p>
                <p class="text-[#111518] text-sm font-normal leading-normal text-right">Brighton, UK</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}